.pagenation {
 display: flex;
}

.pagenation li {
  list-style: none;
  margin-left: 20px;
  border-radius: 50%;
  background-color: skyblue;
  height: 20px;
  width: 20px;
  text-align:center;
  line-height: 20px;
}
